<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:include=":: #title"> Layout Generic Title </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="city" class="nav-link" th:style="${#httpServletRequest.requestURI == '/city' ? 'color: red;' : ''}" href="/city">Cities</a>
            </li>
            <li class="nav-item">
                <a id="color" class="nav-link" th:style="${#httpServletRequest.requestURI == '/color' ? 'color: red;' : ''}" href="/color">Colors</a>
            </li>
            <li class="nav-item">
                <a id="manufacturer" class="nav-link" th:style="${#httpServletRequest.requestURI == '/manufacturer' ? 'color: red;' : ''}" href="/manufacturer">Manufacturers</a>
            </li>
            <li class="nav-item">
                <a id="companycar" class="nav-link" th:style="${#httpServletRequest.requestURI == '/companycars' ? 'color: red;' : ''}" href="/companycars">Company Cars</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>